In [2]:
import pandas as pd
from selenium import webdriver

page_url = "http://rpachallenge.com/"
excel_url = page_url + "assets/downloadFiles/challenge.xlsx"

In [3]:
data=pd.read_excel(excel_url,usecols=range(7), names=["fname","lname","comp","role","addr","email","phone"])

In [4]:
data

,fname,lname,comp,role,addr,email,phone
0,John,Smith,IT Solutions,Analyst,98 North Road,jsmith@itsolutions.co.uk,40716543298
1,Jane,Dorsey,MediCare,Medical Engineer,11 Crown Street,jdorsey@mc.com,40791345621
2,Albert,Kipling,Waterfront,Accountant,22 Guild Street,kipling@waterfront.com,40735416854
3,Michael,Robertson,MediCare,IT Specialist,17 Farburn Terrace,mrobertson@mc.com,40733652145
4,Doug,Derrick,Timepath Inc.,Analyst,99 Shire Oak Road,dderrick@timepath.co.uk,40799885412
5,Jessie,Marlowe,Aperture Inc.,Scientist,27 Cheshire Street,jmarlowe@aperture.us,40733154268
6,Stan,Hamm,Sugarwell,Advisor,10 Dam Road,shamm@sugarwell.org,40712462257
7,Michelle,Norton,Aperture Inc.,Scientist,13 White Rabbit Street,mnorton@aperture.us,40731254562
8,Stacy,Shelby,TechDev,HR Manager,19 Pineapple Boulevard,sshelby@techdev.com,40741785214
9,Lara,Palmer,Timepath Inc.,Programmer,87 Orange Street,lpalmer@timepath.co.uk,40731653845

In [5]:
driver = webdriver.Chrome()
driver.get(page_url)

In [80]:
#ba≈ülat
driver.find_element_by_xpath("//button").click()

In [81]:
for i in range(len(data)):
        driver.find_element_by_xpath("//LABEL[@_ngcontent-c2=''][text()='First Name']/following-sibling::INPUT").send_keys(data.fname[i])
        driver.find_element_by_xpath("//LABEL[@_ngcontent-c2=''][text()='Last Name']/following-sibling::INPUT").send_keys(data.lname[i])
        driver.find_element_by_xpath("//LABEL[@_ngcontent-c2=''][text()='Company Name']/following-sibling::INPUT").send_keys(data.comp[i])
        driver.find_element_by_xpath("//LABEL[@_ngcontent-c2=''][text()='Role in Company']/following-sibling::INPUT").send_keys(data.role[i])
        driver.find_element_by_xpath("//LABEL[@_ngcontent-c2=''][text()='Address']/following-sibling::INPUT").send_keys(data.addr[i])
        driver.find_element_by_xpath("//LABEL[@_ngcontent-c2=''][text()='Email']/following-sibling::INPUT").send_keys(data.email[i])
        driver.find_element_by_xpath("//LABEL[@_ngcontent-c2=''][text()='Phone Number']/following-sibling::INPUT").send_keys(str(data.phone[i]))

        driver.find_element_by_xpath("//input[@value='Submit']").click()

In [82]:
print(driver.find_element_by_xpath("//div[@class='message2']").text)

Your success rate is 100% ( 70 out of 70 fields) in 5156 milliseconds